:root {
    --primart-text-color:#757575;
    --title-text-color:#212121;
    --accent-text-color:#2196F3;
    --white-text-color:#FFFFFF;
}
.list {
    color:var(--primart-text-color) ;
    list-style: none;
    
    
}
body {
     background-color:#FFFFFF ; 
     color: #757575;

     font-family:"Roboto", sans-serif;
     font-size: 14px;
     line-height: 1.7;
     
    /*logo*/
}
.logo {
    color:#000000 ;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

}
.logo-web {
    color: var(--accent-text-color);

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
/*site-nav*/
.site-nav .link{
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    text-decoration: none;

}
.site-nav .link.current {
    color: var(--accent-text-color);
}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-text-color);
    /* Contact*/
}
.contact .link {
    color: var(--primart-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    text-decoration: none;

}
.contact a:hover, .contact a:focus {
    color: var(--accent-text-color);
}
/*Hero*/
.hero {
    background: #2F303A;

}
.hero .hero-title {
     color:#FFFFFF ;     

    font-weight: 900;
    font-size: 44px;
    line-height: 60px; 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/*Button*/
.hero button {

    color: var(--white-text-color);
    background-color: var(--accent-text-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: inherit;

}
/*Our advantages*/
.list .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

/*Section*/
.section.team {
    background: #F5F4FA;
}
.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
/*Team*/
.list .name {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
/*.list .iteam {
    
}*/
.list .profession {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

/*Footer*/
.control {
    background: #2F303A;

    text-decoration: none;
    font-style: normal;

}
.control .logo {
    color: var(--white-text-color);
}
.list .link-adress {
    color: var(--white-text-color); 
    line-height: 1.7;

    text-decoration: none;
}
.list .link-adress:hover,
.list .link-adress:focus {
    color: var(--accent-text-color);
}
.list .contacts {
    color: rgba(255, 255, 255, 0.6);  

    line-height: 1.7;

    text-decoration: none;

}
.list .contacts:hover, .list .contacts:focus{
    color: var(--white-text-color);
}

/*Page portfolio*/
.buttons .text {
    color: var(--title-text-color);

    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
.buttons {
    list-style: none;
}
.buttons .text:hover,
.buttons .text:focus {
    background-color: var(--accent-text-color);
    color: var(--white-text-color);
}
.btn .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.btn .subtitle {
    font-size: 16px;
    line-height: 1.9;
}
.btn {
    list-style: none;
}